{% extends 'base.html' %}

{% block head %}

<title>History Sensors</title>

<link rel="stylesheet" href="static/css/sensors.css">
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
<script src="{{ url_for('static', filename='js/history.js') }}"></script>
{% endblock %}

{% block body %}

<body class="sensor-body">
    <div class="data_summary">
        <h1>History</h1>
    </div>
    <br>
    
    <div class="combobox-container">
        <label for="pondSelector" class="combobox-label">Select Pond:</label>
        <select id="pondSelector" class="styled-combobox" onchange="fetchAndDisplayData()">
            <!-- Options will be dynamically added here -->
        </select>
        &nbsp;
        <label for="timePeriod" class="combobox-label">Select Time Period:</label>
        <select id="timePeriod" class="styled-combobox" onchange="fetchAndDisplayData()">
            <option value="24h" selected>Last 24 Hours</option>
            <option value="3d">Past 3 Days</option>
            <option value="7d">Past 7 Days</option>
            <option value="2w">Past 2 Weeks</option>
            <option value="1m">Past 1 Month</option>
            <option value="3m">Past 3 Months</option>
            <option value="all">All Data</option>
        </select>
    </div>

    <div class="pagination-controls">
        <button onclick="previousPage()" id="prevBtn" disabled>Previous</button>
        <span id="pageInfo"></span>
        <button onclick="nextPage()" id="nextBtn">Next</button>
    </div>

    <div class="data-table-container">
        <table id="data-table" class="data-table">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Pond ID</th>
                    <th>Dissolved Oxygen (%)</th>
                    <th>Temperature (°F)</th>
                    <th>Pressure</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Device Type</th>
                </tr>
            </thead>
            <tbody id="data-table-body">
                <!-- Dynamic rows will be inserted here -->
            </tbody>
        </table>
    </div>

    <script>
        const jsonData = JSON.parse({{ data|tojson }});
        let currentPage = 1;
        const rowsPerPage = 20;
        let paginatedData = [];
    
        function fetchAndDisplayData() {
            const pondSelector = document.getElementById('pondSelector');
            const timePeriod = document.getElementById('timePeriod').value;
            const selectedPondId = pondSelector.value;

            let url = `/data/LH_Farm pond_0?pond_id=${selectedPondId}`;
            if (timePeriod !== 'all') {
                url += `&period=${timePeriod}`;
            }

            fetch(url)
                .then(response => response.json())
                .then(json => {
                    const data = transformData([json], selectedPondId);
                    paginatedData = data; // Store the transformed data in paginatedData
                    currentPage = 1; // Reset to the first page
                    displayPage(currentPage); // Display the first page
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
    
            // const fetchPromises = jsonData.features.map(feature => {
            //     const pondId = feature.properties.number;
            //     if (selectedPondId !== 'all' && selectedPondId !== pondId)
            //         return null;
            //     let url = `/data/LH_Farm pond_${pondId}?pond_id=${selectedPondId}`;
            //     if (timePeriod !== 'all') {
            //         url += `&period=${timePeriod}`;
            //     }
            //     return fetch(url)
            //         .then(response => response.json());
            // });

            // Promise.all(fetchPromises)
            //     .then(jsonDatas => {
            //         const data = transformData(jsonDatas, selectedPondId);
            //         paginatedData = data; // Store the transformed data in paginatedData
            //         currentPage = 1; // Reset to the first page
            //         displayPage(currentPage); // Display the first page
            //     })
            //     .catch(error => {
            //         console.error('Error fetching data:', error);
            //     });
        }
        // Initialize the combobox and fetch data
        initializeCombobox(jsonData, "all");
        fetchAndDisplayData();
        setInterval(fetchAndDisplayData, 30000);
        </script>
</body>

{% endblock %}